html{
    margin-left: 4%;
    margin-right: 4%;
    margin-top: 4%;
}
.modal-content{
    top: 10%;
    margin: 0 auto;
    max-width: 550px;
    height: 450px;
    max-height: 70vh;

}
.modal-body{
    width: 550px;
    max-height: 140px;
}
.modal-table{
    height: 200px;
    overflow: auto;
}
.modal-header{
    width: 550px;
    height: 40px;
}

.modal-footer{
    text-align: center;
    width: 550px;
    height: 60px;
}
